@model Bidc_Union_Management.Models.NhiemKy

@{
    ViewBag.Title = "Delete";
}

<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Nhiệm kỳ</a>
            </li>
            <li class="active-bre"><a href="#">Xóa</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Xóa nhiệm kỳ</h4>
                    </div>
                    <div class="tab-inn">                        
                            <div class="row">
                                <div class="input-field col s12">
                                    <div class="col-md-10">
                                        <strong>Nhiệm kỳ:</strong><br />
                                        @Model.Name
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <div class="col-md-10">
                                        <strong>Ngày tạo:</strong><br />
                                        @Model.CreateDate
                                    </div>
                                </div>
                                @using (Html.BeginForm("Delete", "NhiemKy", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()             
                                    @Html.ValidationSummary()
                                    @Html.HiddenFor(model => model.Id)

                                    <div class="input-field col s12">
                                        <div class="col-md-10">
                                            <input type="submit" value="Xóa" class="btn-large" />
                                            |
                                            <a href="Javascript:void(0)" class="btn-large" onclick="window.history.back()">Trở lại</a>
                                        </div>
                                    </div>
                                }
                            </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
