@model Bidc_Union_Management.Models.LoginModel
@{
    ViewBag.Title = "Log On";
    Layout = null;   
}

<!DOCTYPE html>
<html lang="en">

<head>
   <title>Đoàn Thanh Niên</title>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Quicksand:300,400,500" rel="stylesheet">

    <!-- FONT-AWESOME ICON CSS -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

    <!--== ALL CSS FILES ==-->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/mob.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/materialize.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        .validation-summary-errors{
            text-align:center;
        }
    </style>
</head>
<body>
    <header>
        @Html.Partial("Header_Login_Partial")
    </header>
     @using (Html.BeginForm())
   {
         @Html.AntiForgeryToken()
    <div class="blog-login" style="background:#e8edf2;margin-top:50px;">
        <div class="blog-login-in">
            @*<div class="alert alert-success" style="text-align:center">
                <strong>Thông tin đăng nhập</strong> 
                <span style="color:red"> @Html.ValidationSummary(true, "Sai thông tin đăng nhập")</span>
            </div>*@
            <img style="margin-left:60px;" alt="" src="/Images/logo.png">
            <span style="color:red;margin-left:60px;padding-top:7px;"> @Html.ValidationSummary(true, "Sai thông tin đăng nhập")</span>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                        <label for="first_name1"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.PasswordFor(m => m.Password, new { @class="form-control" ,@placeholder="Mật khẩu"})
                        <label for="last_name"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="login" class=" waves-light btn-large btn-log-in" style="width:100%;" type="submit" value="Đăng Nhập" />
                    </div>
                </div>
                @*<a href="forgot.html" class="for-pass">Forgot Password?</a>*@
        </div>
    </div>
            }
     <footer>
        @Html.Partial("Footer_Partial")
    </footer>
</body>

</html>