@model Bidc_Union_Management.Models.LocalPasswordModel
<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
            </li>
            <li class="active-bre"><a href="#">Đổi mật khẩu</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Đổi mật khẩu</h4>
                    </div>
                    <div class="tab-inn">                        
                        @using (Html.BeginForm("ChangePassword", "SettingAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {                            
                            <div style="color:red;margin-top:10px;">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "")
                            </div>
                           
                            <div class="row">
                                
                                <div class="input-field col s12">                                    
                                    <div class="col-md-6">
                                        <strong>Mật khẩu cũ:<br />
                                        </strong>
                                        @Html.PasswordFor(model => model.OldPassword, new { htmlAttributes = new { @class = "validate" } })
                                    </div>
                                </div>  
                                <div class="input-field col s12">                                    
                                    <div class="col-md-6">
                                        <strong>Mật khẩu mới:<br />
                                        </strong>
                                        @Html.PasswordFor(model => model.NewPassword, new { htmlAttributes = new { @class = "validate" } })
                                    </div>
                                </div>
                                <div class="input-field col s12">                                    
                                    <div class="col-md-6">
                                        <strong>Nhập lại mật khẩu:<br />
                                        </strong>
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "validate" } })
                                    </div>
                                </div>                           

                                <div class="input-field col s12">
                                    <div class="col-md-10">
                                        <input type="submit" value="Lưu" class="btn-large">
                                    </div>
                                </div>
                            </div>                                      
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>