<!--== BODY CONTNAINER ==-->
<!--== BODY INNER CONTAINER ==-->
@model Bidc_Union_Management.Models.DoanvienModels
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="@Url.Action("Index","Administrator")"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a>
            </li>         
        </ul>
    </div>

    <!--== Lãi suất huy động ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp" style="min-height:300px;">
                    <div class="inn-title">                                           
                         <h4>Thông tin tài khoản</h4>                       
                    </div>
                    <p style="margin-top:20px;margin-left:25px;">
                        Tên Đăng Nhập: <strong style="text-transform:uppercase">@Model.UserName</strong>
                    </p> 
                    <p style="margin-top:20px;margin-left:25px;">
                        Họ và tên: <strong style="text-transform:uppercase">@Model.FullName</strong>
                    </p> 
                    <p style="margin-top:20px;margin-left:25px;">
                        Email: <strong>@Model.Email</strong>
                    </p>  
                    <p style="margin-top:20px;margin-left:25px;">
                        Ngày sinh: <strong>@Model.Birthday</strong>
                    </p>                 
                    <p style="margin-top:20px;margin-left:25px;">
                        Chức vụ: <strong>@Model.Chucvu</strong>
                    </p>
                     <p style="margin-top:20px;margin-left:25px;">
                        Chi đoàn: <strong>@Model.Chidoan</strong>
                    </p>
                    <p style="margin-top:20px;margin-left:25px;">
                        Phân đoàn: <strong>@Model.Phandoan</strong>
                    </p>
                     <p style="margin-top:20px;margin-left:25px;">
                           <strong>Ảnh đại diện:</strong><br /><br />
                           <img width="200" src="@Url.Content("/FileUpload")/@Html.DisplayFor(model => model.Avatar)">
                    </p>
                    <p style="margin-top:20px;margin-left:25px;">
                        Quê quán: <strong>@Model.Country</strong>
                    </p>
                    <p style="margin-top:20px;margin-left:25px;">
                        Phân đoàn: <strong>@Model.CreateDate</strong>
                    </p>
                    <p style="margin-top:20px;margin-left:25px;">
                        Chi nhánh: <strong style="text-transform:uppercase">@Model.Branch</strong>
                    </p>                   
                </div>
            </div>
        </div>
    </div>
</div>