@model Bidc_Union_Management.Models.HoatDong

@{
    ViewBag.Title = "Edit";
}

<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
            </li>
            <li class="active-bre"><a href="#">Hoạt động</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Sửa Hoạt động</h4>
                    </div>
                    <div class="tab-inn">
                        @using (Html.BeginForm("Edit", "HoatDong", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model=>model.CreateDate)
                            @Html.HiddenFor(model=>model.Inputter)
                            @Html.HiddenFor(model=>model.Authorise)
                            @Html.HiddenFor(model=>model.Images)
                            @Html.HiddenFor(model=>model.Branch) 
                            @Html.HiddenFor(model=>model.Status) 
                            <div class="row">                               
                                    <div class="input-field col s12">
                                        <div class="col-md-10">                                            
                                            <strong>Tên:<br/></strong>
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "validate" } })                                       
                                        </div>
                                    </div>
                                    <div class="input-field col s12">                                        
                                        <div class="col-md-10">
                                            <strong>Mô Tả:<br /></strong>
                                            @Html.TextAreaFor(model => model.Description)
                                            @Html.ValidationMessageFor(model => model.Description)
                                        </div>
                                    </div>
                                   
                                    <div class="input-field col s12">                                        
                                        <div class="input-field col s12">
                                            <strong>Nội Dung:<br /></strong>
                                            @Html.TextAreaFor(model => model.Detail, new { @id = "ckeContent" })
                                            @Html.ValidationMessageFor(model => model.Detail)
                                            <script type="text/javascript">
                                                CKEDITOR.replace("ckeContent");
                                            </script>
                                        </div>
                                    </div>

                                    <div class="input-field col s12" style="clear:both;padding-top:10px;">
                                        <p style="padding-left:20px;">Chọn hình</p>
                                        <div class="col-sm-9">
                                            <img width="200" src="@Url.Content("/FileUpload")/@Html.DisplayFor(model => model.Images)"><br /><br />
                                            <input type="file" name="images" id="images" />
                                        </div>
                                    </div>
                                <div class="input-field col s12">
                                        <div class="input-field col s12">
                                            <input type="submit" class="waves-effect waves-light btn-large" value="Lưu" />
                                        </div>
                                    </div>
                                </div>                              
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
