@model Bidc_Union_Management.Models.DoanVien

@{
    ViewBag.Title = "Edit";
}

<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
            </li>
            <li class="active-bre"><a href="#">Đoàn viên</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Sửa đoàn viên</h4>
                    </div>
                    <div class="tab-inn">                        
                        @using (Html.BeginForm("Edit", "DoanVienChiDoan", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.CreateDate)
                            @Html.HiddenFor(model => model.UserName)
                            @Html.HiddenFor(model => model.Branch)
                            @Html.HiddenFor(model => model.Avatar)
                            @Html.HiddenFor(model => model.Status)
                            <div style="color: red; margin-top: 5px;">
                                @ViewBag.error
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div class="col-md-6">
                                        <strong>Tên đăng nhập:<br />
                                        </strong>
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "validate" } })
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Họ Tên :<br />
                                        </strong>
                                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "validate" } })
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <div class="col-md-6">
                                        <strong>Email:<br />
                                        </strong>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "validate" } })
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Ngày sinh:<br />
                                        </strong>
                                        @{
                                            DateTime ngaysinh = (DateTime)Model.Birthday;
                                         }
                                        @Html.TextBoxFor(m => m.Birthday,
                                            new { @Value = ngaysinh.ToString("MM/dd/yyyy"), @class = "datepicker" })


                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <div class="col-md-6">
                                        <strong>Quê quán:<br />
                                        </strong>
                                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "validate" } })
                                    </div>  
                                    <div class="col-md-6">
                                        <strong>Mật khẩu:<br />
                                        </strong>
                                        @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "validate" } })
                                    </div>                               
                                </div>
                                <div class="input-field col s12">
                                    <div class="col-md-4">
                                        <strong>Chức vụ:<br />
                                        </strong>
                                        @Html.DropDownList("chucvuid", new SelectList(ViewBag.quyenhans, "Value", "Text"))
                                    </div>
                                    <div class="col-md-4">
                                        <strong>Chi đoàn:<br />
                                        </strong>                                        
                                         @Html.DropDownList("chidoanid", new SelectList(ViewBag.listchidoans, "Value", "Text"))
                                    </div>
                                    <div class="col-md-4">
                                        <strong>Phân đoàn:<br />
                                        </strong>
                                        @Html.DropDownList("phandoanid", new SelectList(ViewBag.listphandoans, "Value", "Text"))
                                    </div>
                                </div>
                                <div class="input-field col s12" style="clear:both;padding-top:10px;">
                                        <p style="padding-left:20px;">Ảnh cá nhân</p>
                                        <div class="col-sm-9">
                                            <img width="200" src="@Url.Content("/FileUpload")/@Html.DisplayFor(model => model.Avatar)"><br /><br />
                                            <input type="file" name="images" id="images" />
                                        </div>
                                </div>
                              
                                <div class="input-field col s12">
                                    <div class="col-md-10">
                                       <input type="submit" value="Lưu" class="btn-large" id="btsubmit">                                       
                                    </div>
                                </div>
                            </div>                                      
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        /* Get the checkboxes values based on the class attached to each check box */
        $("#Birthday").datepicker();       
    });
   
</script>


