@model Bidc_Union_Management.Models.CongVan

@{
    ViewBag.Title = "Edit";
}

<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
            </li>
            <li class="active-bre"><a href="#">Công văn</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Sửa công văn</h4>
                    </div>
                    <div class="tab-inn">
                        @using (Html.BeginForm("Edit", "CongVan", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.CreateDate)               
                            @Html.HiddenFor(model => model.Inputter)
                            @Html.HiddenFor(model => model.Authorise)
                            @Html.HiddenFor(model => model.Link)
                            @Html.HiddenFor(model => model.Branch)
                            <div class="row">
                                <div class="input-field col s12">
                                    <div class="col-md-10">
                                        <strong>Tên:<br />
                                        </strong>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "validate" } })
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <div class="col-md-10">
                                        <strong>Loại công văn:<br />
                                        </strong>
                                        @Html.DropDownList("Type", new SelectList(ViewBag.loaicongvan, "Value", "Text"))
                                    </div>
                                </div>
                                <div class="input-field col s12" style="clear: both; padding-top: 10px;">
                                    <p style="padding-left: 20px;">File đính kèm</p>
                                    <div class="col-sm-9">
                                        <input type="file" name="file" id="files" />
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <div class="col-md-10">
                                        <strong>Danh sách mail gửi:<br />
                                        </strong>
                                        @Html.EditorFor(model => model.ListUserName, new { htmlAttributes = new { @class = "validate" } })
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <div class="col-md-10">
                                        <input type="submit" value="Lưu" class="btn-large">
                                    </div>
                                </div>
                            </div>   
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
